:root {
  --international-orange-engineering: #BA2D0B;
  --lavender-floral: #9D8DF1;
  --honeydew: #D5F2E3;
  --ocean-green: #73BA9B;
  --indigo-dye: #08415C;
  --white: #fff;
  --black: #000;
  --gray: #ccc;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
}

